html {
scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: monospace;
	background-color: #404646;
    overflow-x:hidden;
}
.nav-col2{
	max-width: 100%;
	margin: auto;
	background-color:rgba(255, 255, 255, 0.5);
	overflow:hidden;
	padding-bottom:10px;
}
nav{
    width:100%;
    height: 50px;
    background-color: rgba(0,0,0, .8);
    padding-top:25px;
    position:fixed;
    top:0;
}
nav ul{
    float:right;
    list-style: none;
}
.navdesk li{
    display:inline-block;
}
nav a{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family:'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
}
.navdesk a:hover{
    background-color: #1d2856;
}
.logobrand img{
	width: 70px;
	height: auto;
	float:left;
}
.menuToggle{
    display:none;
}
.parallax{
	background-image: url(img/bg.jpg);
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.column {
  float: left;
  width: 50%;
}
.column1 {
  float: left;
  width: 50%;
  margin-bottom:100px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tabla{
	margin-top:200px;
	color:white;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
.tabla1{
	color:white;
	font-size: 16px;
	font-style:italic;
	text-transform: uppercase;
	text-align: justify;
	padding: 1% 25% 0% 25%;
}
.newslettersub{
	margin-top:200px;
	color:white;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
input[type=email].newslett{
  width: 35%;
  padding: 12px 20px;
  margin-top:10px;
  border-radius: 20px;
  border: 2px solid;
  background-color: #1d2856;
  color:white;
}
.newssend{
	width: 8%;
	height: 5%;
	border-radius: 20px;
  	border: 2px solid;
  	background-color: #1d2856;
  	color:white;
  	text-transform: uppercase;
}
::placeholder{
	color:white;
}
.galslidtext{
	text-transform: uppercase;
	font-weight: bold;
	margin-top:10px;
	color:white;
	font-size: 2rem;
	text-align:center;
}
.container{
	margin: auto;
	width: 360px;
	height: 350px;
	margin-top:150px;
	background: rgba(0, 0, 0, 1);
	transform: rotate(-30deg) skew(25deg) scale(.8);
	transition: 0.5s;
}
.container img{
	position:absolute;
	width:100%;
	transition: 0.5s;
}
.container:hover img:nth-child(2){
	transform: translate(300px, -300px);
	opacity: 1;
}
.container:hover img:nth-child(1){
	transform: translate(0, 0);
	opacity: 1;
}
.container:hover img:nth-child(3){
	transform: translate(300px, -300px);
	opacity: 1;
}
.container:hover img:nth-child(4){
	transform: translate(0, 0);
	opacity: 1;
}
hr.linija {
	margin: 0 25% 0 25%;
    height: 0px;
    border:none;
    border-radius:20px;
    border-top: 5px solid white;
}
.aboutext{
	text-transform: uppercase;
	font-weight: bold;
	color:white;
	font-size: 2rem;
	text-align:center;
}
.parallax1{
	background-image: url(img/bg2.jpg);
	height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
hr.linija1 {
	margin: 0 25% 0 25%;
    height: 0px;
    border:none;
    border-radius:20px;
    border-top: 5px solid white;
    margin-bottom:20px;
}
.column3 {
  float: left;
  width: 33.33%;
}
form{
    margin-top: 12px;
}
.formc{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color:transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top:20px;
    
}
form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}
.resize img{
    margin-top:25px;
	width: 360px;
	height: 300px;
    position:relative;
    animation: slides 5s infinite;
}
@keyframes slides{
0% {top:0px; left:0px;}
25%  {top:0px; left:50px; }
50%  {top:100px; left:50px;}
75%  {top:100px; left:0px; }
100% {top:0px; left:0px; }
}
footer{
    background-color:#404645;
}
.containerf{
    margin: 0 auto;
    max-width: 940px;
    height:60px;
    padding-top: 2%;
}
.copyright{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    padding-top 2%;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 18px;
}
.social a{
	font-size: 20px;
	padding: 0.3rem;
}
.fa-facebook:hover,
.fa-google:hover,
.fa-youtube:hover{
	color: #1d2856;
}
.fa-facebook, .fa-google, .fa-youtube{
	color: white;
}
hr.linijafooter {
	margin: 0 0% 0 0%;
    height: 0px;
    border:none;
    border-radius:20px;
    border-top: 5px solid white;
    margin-bottom:5px;
}
@media (max-width: 992px) {
.column {
  width: 100%;
}
.column1 {
  width: 100%;
}
.column3 {
  width: 100%;
}
.resize img{
    animation: none;
    margin-bottom:20px;
}
.social a{
	font-size: 15px;
	padding: 0.3rem;
}
.copyright{
    font-size: 15px;
}
.parallax1{
	height: 1600px;
}
.formc{
    width: 550px;
}
.newssend{
	width: 10%;
}
input[type=email].newslett{
  width: 40%;
}
.tabla{
	font-size: 1.8rem;
}
.tabla1{
	font-size: 15px;
}
.newslettersub{
	font-size: 1.8rem;
}
.aboutext{
	font-size: 1.8rem;
}
.galslidtext{
	font-size: 1.8rem;
}
}
@media (max-width: 600px){
.social a{
	font-size: 10px;
	padding: 0.3rem;
}
.copyright{
    font-size: 12px;
}
.formc{
    width: 350px;
}
.container{
margin: auto;
width: 260px;
height: 250px;
}
.navdesk{
display:none;
}
.logobrand img{
	float:right;
}
.menuToggle a{
font-size:1.1rem;
color:black;    
}
.menuToggle a:hover{
color:white;    
}  
.menuToggle{
  display: block;
  position: relative;
  top: 0px;
  right: 0px;  
  z-index: 1; 
  user-select: none;
}
.menuToggle input{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;
  opacity: 0; 
  z-index: 2;
}
.menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  margin-left:5px;
  position: relative;
  background-color: #cdcdcd;
  border-radius: 3px; 
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.menuToggle span:nth-child(3){
  transform-origin: 0% 0%;
}
.menuToggle span:nth-child(4){
  transform-origin: 0% 100%;
}
.menuToggle input:checked ~ span{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.menuToggle input:checked ~ span:nth-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuToggle input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) translate(0, -1px);
}
.menu{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -30px;
  padding: 50px;
  padding-top: 125px;
  background-color:rgba(255, 255, 255, 0.5);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu li{
  padding: 10px 0;
  font-size: 22px;
}
.menuToggle input:checked ~ ul{
  transform: none;
}
.newssend{
	width: 20%;
}
input[type=email].newslett{
  width: 70%;
}
.tabla{
	font-size: 1.5rem;
}
.tabla1{
	font-size: 13px;
}
.newslettersub{
	font-size: 1.5rem;
}
.aboutext{
	font-size: 1.5rem;
}
.galslidtext{
	font-size: 1.5rem;
}
}